.speech {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;
}

.stage_directions{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:cyan;
    color:black;
}

.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:black;
}

.hover:hover{
    background-color:lightsteelblue;
    color:red;
}

.prince_petro{
    color:DarkSlateGrey;
}

.prince_paul{
    color:navy;
}

.count_r{
    color:saddlebrown;
}

.czare{
    color:firebrick;
}

.baron_raff{
    color:orchid;
}

.tableStyle{
    border-style: dashed;
    border-color: black;
    text-align: center;
    margin: 25px 0px 0px 350px;
}

tr:nth-child(even) {background-color: #d1d1d1;}

.rowNcolumn{
    border-style: double;
    border-color: black;
    padding: 15px;
}

.nameHover:hover{
    text-shadow: 2px 2px hotpink;
    border-style:groove;
    border-color: black;
}