.speech {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;
}

.stage_directions{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:cyan;
    color:black;
}

.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:black;
}

.hover:hover{
    background-color:lightsteelblue;
    color:red;
}

.prince_petro{
    color:DarkSlateGrey;
}

.prince_paul{
    color:navy;
}

.count_r{
    color:saddlebrown;
}

.czare{
    color:firebrick;
}

.baron_raff{
    color:orchid;
}

.tableStyle{
    margin: 10px;
    text-align: center;
    color:black;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

th, td{
    padding: 20px;
}