.speech {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 25px;
    color: black;
}

.stage_directions{
    background-color: darkkhaki;
}

.hover_stage-direction p:hover{
    background-color:yellowgreen;
    color:orangered;
}